* {
    // border: 1px solid black;
}

.knowledge {
    padding: 1rem;
    
&__heading {
    text-align: center;
    font-size: 1.5rem;
}

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;

  }

  &__icon {
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    text-align: center;
  }
}