.nav {
    height: 5rem;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 2;


&__home {
    background-image: url(../../assets/icons/home.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    width: 2rem;
    height: 2rem;
}

&__activity {
    background-image: url(../../assets/icons/walk.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    width: 2rem;
    height: 2rem;
}

&__add {
    background-image: url(../../assets/icons/more.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    width: 2rem;
    height: 2rem;
}

&__bell {
    background-image: url(../../assets/icons/bell.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    width: 2rem;
    height: 2rem;
}

&__profile {
    background-image: url(../../assets/icons/user.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    width: 2rem;
    height: 2rem;
}

}