$tablet-width: 768px;
$desktop-width: 1280px;

@mixin tablet {
    @media(min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin nav-buttons {
    background-repeat: no-repeat;
    background-size: contain;
    color: #000;
    width: 2rem;
    height: 2rem;
}