.profile {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__account {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    &__back {
        height: 2.5rem;
        border: 0;
        background-color: #fff;
        font-size: 1rem;
        cursor: pointer;
    }

    &__myProfile {
        
    }
}

.proForm {
    display: flex;
    flex-direction: column;

    &__label {

    }

    &__name {
        border-radius: 4px;
    }

    &__experience {

    }

    &__yrBtns {
        width: 100%;
    }

    &__yrBtn {
        width: 15%;
        margin: 0 .1rem;
    }

   

    &__age {
        display: flex;
        align-items: center;
    }

    &__slider {
        width: 20%;
    }
 
}

